@import 'easymde.min.css';
@import '~easymde/dist/easymde.min.css';
@import '~highlight.js/styles/atom-one-dark.css';

.CodeMirror {
  background: rgb(20, 20, 20);
  color: limegreen;
}

.CodeMirror-cursor {
  border-left: 2px solid limegreen;
  border-right: none;
  width: 0;
}


.CodeMirror-fullscreen {
  background: rgb(20, 20, 20);
  color: limegreen;
}

.CodeMirror-sided {
  background: rgb(20, 20, 20);
  color: limegreen;
}

.CodeMirror-sided.sided--no-fullscreen {
  background: rgb(20, 20, 20);
  color: limegreen;
}

.CodeMirror-placeholder {
  color: limegreen;
}

.CodeMirror-cursor{
  color: limegreen;
}

.editor-toolbar.fullscreen {
  background: rgb(20, 20, 20);
}

.editor-toolbar.fullscreen::before {
  background: rgb(20, 20, 20);
}

.editor-toolbar.fullscreen::after {
  background: rgb(20, 20, 20);
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
    background: limegreen;
}

.editor-preview {
  background: rgb(20, 20, 20);
  color: limegreen;
}

.editor-preview-full {
  background: rgb(20, 20, 20);
  color: limegreen;
}

.editor-preview-side {
  background: rgb(20, 20, 20);
}


.vue-easymde .markdown-body{
  padding: 0.5em;
}
.vue-easymde .editor-preview-active, .vue-easymde .editor-preview-active-side {
  display: block;
}

/*Quote style missing in easymde*/
blockquote{
  font-style: italic;
  background: black;
  border-left: 3px solid red;
  padding-left: 10px;
}

/*Code part must be re-colored for dark mode*/
.editor-preview pre{
  color: limegreen;
  background: black;
}

.v-application code{
  background: black;
  color: limegreen;
}