<template>
    <v-layout>
        <v-flex xs12 sm2 >
            <TreeTOC :note="note" @selected=goToSelection />
        </v-flex>
        <v-divider vertical></v-divider>
        <v-flex xs12 sm10>
            <v-row>
            <v-col sm=6>
            <v-card-title>
                <v-text-field
                    class="title" 
                    v-model="note.title"
                    :label="lng.title"
                    required
                    solo
                    :rules="[rules.required]"
                ></v-text-field>
            </v-card-title>
            </v-col>
            <v-col sm=6>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-row>
                        <v-col xs="12" sm="11">
                            <v-expansion-panel-header>{{lng.note_data}}</v-expansion-panel-header>
                        </v-col>
                        <v-col>
                            <v-icon dark color="red" @click="deleteNote" class="trash" large>mdi-delete</v-icon>
                        </v-col>
                    </v-row>
                    <v-expansion-panel-content>
                        <v-card>        
                        <v-form>
                            <v-card-text>
                                <v-text-field
                                    v-model="authorstr"
                                    :label="lng.author"
                                ></v-text-field>
                                <v-divider></v-divider>
                                <v-text-field
                                    v-model="tagstr"
                                    :label="lng.tag"
                                ></v-text-field>
                            </v-card-text>
                            </v-form>
                        </v-card>
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                    <v-img
                                        class="ntcover" 
                                        :src="noteCover"
                                    >
                                        <v-file-input
                                            :rules="[rules.imgSize]"
                                            accept="image/*"
                                            :placeholder="lng.imgplaceholder"
                                            prepend-icon="guy-fawkes-mask"
                                            :label="lng.findcover"
                                            v-on:change="previewImage($event)"
                                        />
                                    </v-img>
                                </v-flex>
                            </v-layout>                
                        </v-container>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
            </v-col>
            </v-row>
            <v-card>
                <VueEasyMde 
                    v-model="note.content" 
                    ref="markdownEditor"
                    :configs="configs"
                    :highlight="true" 
                    :pos="pos"
                    @headers="tocEnizer"
                    @export="exportNote"
                />                  
                    
                <v-card-actions>
                    <v-btn color="red" @click.prevent="back">{{lng.btn_back}}</v-btn>
                    <v-spacer></v-spacer>                  
                    <v-btn v-if="isNew" color="teal" :disabled="!isValid" @click.prevent="saveNote('save')">{{lng.btn_save}}</v-btn>
                    <v-btn v-else color="teal" :disabled="!isValid" @click.prevent="updateNote('save')">{{lng.btn_update}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import noteimg from '@/assets/NoteImg.svg'
    import VueEasyMde from '@/components/VueEasyMDE'
    import TreeTOC from '@/components/TreeTOC'
    //import {createUUID} from '@/plugins/helpers.js'

    import hljs from "highlight.js"
    window.hljs = hljs

    export default {
        name: 'Note',

        components: {
            VueEasyMde,
            TreeTOC,
        },

        props: {
            noteid: {
                type: String,
                required: false
            }
        },
        

        data() {
            return {
                //Form related
                note: this.newNote(),
                pos: {line:0,char:0},
                tc: [],
                authorstr: "",
                tagstr: "",
                //isValid: false,
                isNew: true,
                lng: "",
                noteCover: noteimg,
                rules: {
                    imgSize: value => !value || value.size < 2000000 || this.lng.imgsizeRule,
                    required: v => !!v || this.lng.requiredRule,
                    posNr: v => (!v || v > 0) || this.lng.posNr,
                    yearFormat: v => (!v || (v > 0 && v.length==4)) || this.lng.yearFormat,
                },

                //Config for Markdown Editor module
                configs:{
                    //editor size
                    minHeight:"600px",
                    maxHeight:"600px",
                    //upload image
                    //uploadImage: true,
                    //highlight: true,
                },
            }
        },

       
        created(){
            //console.log('NoteId from props: '+this.noteid)
            //loads in lng the portion of translation related to this form
            this.lng = this.$i18n.t('note_form')

            //if there is a noteid then fill the fields getting the note from the store
           if(this.noteid!=null){
               this.existingNote()
           }
        },

        methods: {
            newNote(){
                this.isNew = true
                return {
                        _id:'',//createUUID(),
                        title: "",
                        author: [],
                        tag: [],
                        toc:[],
                        cover: "",
                        version: 1,
                        content: ""
                }
            },

            //preserve space and semicolon in the format
            formatArray(arr){
                let content = ""
                arr = arr.reverse() //because of the lifo structure
                for(let i=0; i<arr.length; i++){
                    if(i==0){
                        content = arr[i]     
                    }
                    else {
                        content = arr[i] + "; " + content
                    }
                }
                return content;
            },
            
            // gets the list separated by space and semicolon and puts it in an array
            splitArray(lst){
                let content = []
                if(lst.indexOf(";")>0){
                    content = lst.split(";")
                    content = content.map(s => s.trim())
                }
                else{
                    lst = lst.trim()
                    content.push(lst)
                    //content = content.map(s => s.trim())
                }
                return content
            },
 
            existingNote(){
                this.note = this.getNoteId(this.noteid)//this.note.note.find(note => note.id === this.noteid)
                this.authorstr = this.formatArray(this.note.author)
                this.tagstr = this.formatArray(this.note.tag)
                this.isNew = false
            },
            
            previewImage(e){
                if(e){
                    //console.log(e)
                    this.note.cover = e
                    this.noteCover = URL.createObjectURL(e)
                    //console.log(this.note.cover)
                }
            },
            
            saveNote(mode){
                //console.log("saving: show the note create by the function")
               // console.log( this.note._id)
                //Format the arrays
                this.note.author = this.splitArray(this.authorstr)
                this.note.tag = this.splitArray(this.tagstr)
                //save into the store or to both store and DB according to the mode
                if(mode=='save'){
                    //console.log("Saving the note")
                    this.$store.dispatch('notes/addNote', this.note) 
                }
                else if(mode=='store'){
                    this.$store.dispatch('notes/storeNote', this.note)
                }
                this.note.id = this.getCurrentNoteId()
                this.isNew = false
            },

            updateNote(mode){
                //Format the arrays
                this.note.author = this.splitArray(this.authorstr)
                this.note.tag = this.splitArray(this.tagstr)
                
                //update into the store or to both store and DB according to the mode
                if(mode=='save'){
                    //increment the versioning for the optimistic lock on DB
                    this.note.version++ 
                    this.$store.dispatch('notes/updNote', this.note)  
                }
                else if(mode=='store'){
                    this.$store.dispatch('notes/storeUpdNote', this.note)
                }
            },

            deleteNote(){
                if(this.note._id!=null){
                    this.$store.dispatch('notes/delNote',this.note)
                    this.$router.push({name: 'NoteBook'})
                }
            },

            back(){
                this.$router.push({name: 'NoteBook'})
            },

            //get the fkat headers tree from VueEasyMDE and creates a treeview toc
            tocEnizer(payload){
                //console.log(payload)
                //gets what needed from payload and push in a new toc
               
                this.note.toc = []
                payload.forEach(hdr => {
                    let tmpToc = {}
                    tmpToc.id = hdr.id
                    tmpToc.parent = hdr.parent
                    tmpToc.depth = hdr.depth 
                    tmpToc.pos = hdr.pos
                    tmpToc.name = hdr.text
                    this.note.toc.push(tmpToc)
                });

                //give a tree structure to the toc
                this.treeMaker(this.note.toc)     
                this.$store.dispatch('notes/updTOC',this.note)
            },

             //converts the flat array in a tree basing on parents and ids
            treeMaker(hdrs){
                //console.log("headers as reported by easymde")
                //console.log(hdrs)
                let maxId = 1
                let hasParent = false
                //check if parent is null for all the items and the item with highest id
                hdrs.forEach(hdr => {
                    if(hdr.parent==null){
                        hasParent = false || hasParent
                    }
                    else{
                        hasParent = true 
                    }
                    //console.log("comparing the current item id with the max supposed one: "+hdr.id)
                    if(hdr.id>maxId && hdr.parent!=null){
                        maxId = hdr.id
                    }
                })
                //console.log("Has still parents: "+hasParent)
                //console.log("max id in this iteration is: "+maxId)
                //if parent is null is the exit condition: clean the previous array and set the new
                if(!hasParent){
                    //console.log("returning the formatted array")
                    //console.log(hdrs)
                    this.note.toc=[]
                    this.note.toc=hdrs
                    return true
                }
                //otherwise move the item with maxId under its parent and iterates
                else{
                    let toMove = hdrs.filter(hdr =>{
                    return hdr.id===maxId
                    })[0]
                    //console.log("Highest id element is")
                    //console.log(toMove)
                    let destItem = hdrs.filter(hdr =>{
                    return hdr.id===toMove.parent
                    })[0]
                    //console.log("designed destination element is "+destItem.text)
                    let i_dest = hdrs.indexOf(destItem)
                    //console.log("parent position is "+i_dest)
                    //if the item has no children array it creates one
                    if(hdrs[i_dest].children==undefined)
                    hdrs[i_dest].children=[]
                    //push the item at the beginning of the array since we're proceding from last to first
                    hdrs[i_dest].children.unshift(toMove)
                    //remove the object copied as child from the main list
                    hdrs = hdrs.filter(hdr =>{
                    return hdr.id!=maxId
                    })
                    //console.log("The last array is: ")
                    //console.log(hdrs)
                    //call recursively passing the modified array
                    this.treeMaker(hdrs)        
                }
            },

            //set the position to send to the VueEasyMDE component basing on the TOC selection (at the moment is the button)
            goToSelection(payload){
                console.log("TOC sent this position to go")
                console.log(payload)
                this.pos=payload
            },


            //not used since it's passed as props
            getCurrentNoteId(){
                return this.$store.getters['notes/getCurrentNoteId']
            },
            
            //get the exported text and the desired format from easymde and create the file
            exportNote(payload){
                let mode = payload.type
                //let text = payload.text
                if(mode==='MD'){
                    this.$store.dispatch('notes/downloadNote',this.note)
                    //console.log(text)
                    //this.download(this.note.title+".md",text)
                }
                else{
                    console.log(mode)
                }
            },

            /* Not used: downloads from server
            download(filename, text) {
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                element.setAttribute('download', filename);

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }
            */

        },

        computed: {
                       
            getNoteId(){
                return this.$store.getters['notes/getNoteById']
            },
            
            //valid if title is entered
            isValid(){
                if(this.note.title)
                    return true
                else 
                    return false
            }
        },
          



        
    }
</script>

<style lang="scss" >
    /*@import './../assets/css/easymde.min.css';*/
    @import './../assets/css/mdeditor.css';

    .title {
        outline-color: darkcyan;
        color: blue
    }
    .ntcover{
        width:50%;
        aspect-ratio: 16/9;    
    }
    
</style>