<template>
    <div>
        <h1>{{lng.page_title}}</h1>
            <v-combobox
                v-model="select"
                :search-input.sync="search"
                :items="titles"
                :label="lng.searchfor"
                clearable
                cache-items
                dark
                class="mx-12"
                hide-no-data
                hide-details
                solo-inverted
            ></v-combobox>

        <v-container fluid grid-list-sm>
            <v-row>
                <NoteCard v-for="note in showNotesPerPage" :key="note.id"  :note="note" @delNote="delNote" />
            </v-row>
        </v-container>
        <v-container>
            <v-row justify="center">
                <v-col cols="8">
                    <v-card>
                    <v-container class="max-width">
                        <v-pagination
                            v-model="page"
                            class="my-4"
                            :length="pages"
                            :total-visible="visible_pages"
                        ></v-pagination>
                    </v-container>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import NoteCard from '@/components/NoteCard.vue'

    export default {
        name: 'NoteBook', 
        components: {
            NoteCard
        },
        data() {
            return {
                lng: "",
                isLoading: true,
                search: null,
                select: null,
                titles: [], //titles for autocomplete
                pages: 1, //total nr of pages, by default is 1
                visible_pages: process.env.VUE_APP_VISIBLE_PAGES, //nr of visible pages in the page list
                notesPerPage: process.env.VUE_APP_NOTES_PER_PAGE, //number of notes per page
                page: 1, //default starting page, changes with the pagination
                ntlist: [], //list of notes from the storage
            }
        },

        created() {
            //loads in lng the portion of translation related to this form
            this.lng = this.$i18n.t('note_book')
            /*calls the storage to populate and after that intialize the notelist calling 
            * the getter via computed. It also fills the item list with the note titles.
            */
            this.$store.dispatch('notes/fetchNotes')
                .then (() => {
                    //console.log('initialize the notelist')
                    this.ntlist = this.getNotes
                    //initialize the pagination length and notes per page
                    this.setPagesAmount()
                })
            this.isLoading = false
        },

        //monitor the search value to update the list accordingly
        watch: {
            search(val) {
                if(!val || val===""){
                    this.select = null
                    this.ntlist = this.getNotes
                }
                else{
                    this.querySelections(val)
                }
            }
        },

        computed: {
            //retrieves the all the notes
            getNotes(){
                let retrieved_notes = this.$store.getters['notes/getNotes']
                if(retrieved_notes.status==404)
                    return []
                else
                    return this.$store.getters['notes/getNotes']
            },
            //retrieves the notes according to the search parameter
            getNotesSearch(){
                return this.$store.getters['notes/getNotesBySearch']
            },
            /* returns a subset of the full array, according to the selected page
            ** and to the numbers of notes to view per page
            */
            showNotesPerPage(){
                this.setPagesAmount()
                return this.ntlist.slice((this.page-1)*this.notesPerPage, this.notesPerPage * this.page)
            },
        },



        methods: {
            /* updates the note list according to the filter by calling the search getter
            ** fills the titles array for autocomplete
            ** set the amount of pages according to the selection
            */
            querySelections (v) {
                this.isLoading = false
                this.ntlist = this.getNotesSearch(v)
                //get the note array of notes whose titles match with the search
                let searchlist = this.ntlist.filter(e => {
                    return (e.title || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                })
                //fills the autocomplete array with the titles from the previous array
                for(let i=0;i<searchlist.length;i++){
                    this.titles.push(searchlist[i].title)
                }
                this.setPagesAmount()       
            },

            //calls the action to delete the note passed as parameter
            delNote(note){
                if(note){
                    this.$store.dispatch('notes/delNote',note)
                     .then(this.$router.go())
                }
                else{
                    console.log("no id to identify which note delete")
                }
            },

           /*returns the nr of pages according to the number of notes per 
           * page we want and the number of notes in total we got
           */
            setPagesAmount(){
                let pgstot = this.ntlist.length/this.notesPerPage
                if((pgstot > Math.trunc(pgstot)) || Math.trunc(pgstot) == 0){
                   this.pages = Math.trunc(pgstot) + 1
                }
                else {
                   this.pages = Math.trunc(pgstot)
                }
           }
        }
        
    }


</script>

<style lang="scss" scoped>

</style>