<template>
    <div>
      <v-card
        color="grey lighten-4"
        height="60px"
        tile
      >
        <v-app-bar dark>
          <v-layout>
            <v-row>
              <v-col xs="12" sm="1" >
                <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
              </v-col>
              <v-col xs="12" sm="9" >
                <v-img 
                  lazy-src="../assets/logo.png" 
                  max-width="50"
                  :aspect-ratio="97/100"
                />
              </v-col>
              <v-col xs="12" sm="2" >
                <v-toolbar-title v-text="lng.title">{{this.lng.title}}</v-toolbar-title>
              </v-col>
            </v-row>
            <!--
            <v-flex xs12 sm1>
              <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
            </v-flex>
            <v-flex xs12 sm11>
              <v-img 
                lazy-src="../assets/logo.png" 
                max-width="50"
                :aspect-ratio="97/100"
              />
            </v-flex>
            <v-flex xs12 sm2>
              <v-toolbar-title>{{this.lng.title}}</v-toolbar-title>
            </v-flex>
            -->
          </v-layout>
        </v-app-bar>
      </v-card>
      <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
        color="rgba(10, 0, 10, 0.8)"
      >
        <v-list
          nav
          dense
        >
          <v-list-item-group
            active-class="deep-purple--text text--accent-4"
          >
            <v-list-item
              v-for="(action,actid) in actions" :key="actid" @click="goToAction(actid)"
            >
              <v-list-item-title v-text="action"></v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </div>
    
</template>

<script>
    export default {
      data() {
        return {
          lng: "",
          actions: [],
          drawer: false
        }
      },

      created() {
        //loads in lng the portion of translation related to this form
        this.lng = this.$i18n.t('cmd_bar')
        //loads the array with the translated options
        this.actions.push(this.lng.new_note)
        this.actions.push(this.lng.notebook)
      },
      
      methods: {
        goToAction(actid){
          if(this.actions[actid] == this.lng.new_note){
            this.$router.push({name: "Note"})
          }
          if(this.actions[actid] == this.lng.notebook){
            this.$router.push({name: "NoteBook"})
          }
        }
      }
    }
</script>

<style lang="scss" scoped>

</style>