<template>
  <v-card width="400" class="mx-auto note-card" >
    <v-container>
      <v-row>
        <v-col cols=10 />
        <v-col>
          <!--<v-icon dark color="red" @click="deleteCard" class="trash" large>mdi-delete</v-icon>-->
        </v-col>
      </v-row>
      <v-row>
        <router-link class="note-link" :to="{ name: 'Note', params: {noteid: note._id} }" @click.native='storeSelectedNoteId'>
            <v-img 
              :src="noteCover"
              width="350px"
              content
            />
            <v-card-title >
              {{ note.title }}
            </v-card-title>
            <v-card-subtitle>
              <span v-for="(auth, authid) in note.author" :key="authid">{{auth}}; </span>              
            </v-card-subtitle>
            <v-card-text>
              <span class="eyebrow" v-for="(tg, tgid) in note.tag " :key='tgid'><i>#{{tg}} </i></span>
            </v-card-text>   
        </router-link>
      </v-row>
    </v-container>
  </v-card> 
</template>

<script>
import noteimg from '@/assets/NoteImg.png'
export default {
  name: 'NoteCard', 
  props: {
    note: {
      _id: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      author: {
        type: Array,
        required: true
      },
     
      tag: {
        type: Array
      },
      noteCover: {
        type: String,
        default: noteimg
      },
      default: function () {
        return { 
          title: 'A note title',
          author: 'Auth needed',
         
        }
      }
    }
  },
  data () {
    return { 
     
    }
  },
  created(){
     this.noteCover = noteimg
  },
  methods: {
    deleteCard() {
      this.$emit('delNote',this.note)
    },

    storeSelectedNoteId(){
      //console.log('store note id ' + this.note._id)
      this.$store.dispatch('notes/setCurrentNoteId', this.note._id)  
    }
  },

  
}
</script>

<style lang="scss" scoped>
.note-card {
  padding: 20px;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  cursor: pointer;

}
.note-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 whitesmoke, 0 1px 15px 0 whitesmoke;
}
.note-card > .title {
  margin: 0;
}
.note-link {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.trash{
  color: darkblue;
}

</style>
