<template>
<div >
    <v-treeview
      :items="this.note.toc"
      activatable
      dense
      return-object
      @update:active="onUpdate"
      
  > </v-treeview>

 </div>
</template>
  


<script>
  export default {
    name: "TreeTOC",
    
    props: {
      note: {
        type: Object,
        required: false
      },
      trigger: {
        type: Boolean
      }
    },

    data() {
      return {
        selected: '',
        buttonHovering: false,
        showToolTip: false
      }
    },

    methods: {
      onUpdate(selected){
        if(selected.length>0){
          if(selected[0].pos)        
            this.$emit('selected', selected[0].pos)
          else 
            console.log("no position defined for this selected") 
        }
      }
    }

  }
</script>

<style lang="scss" scoped>
  .appendRight{
    float:right;
  }
</style>