<template>


  <div class="vue-easymde">
    <textarea
      class="vue-simplemde-textarea"
      :name="name"
      :value="value"
      @input="handleInput($event.target.value)"
    />
    <div class="counters">
      {{countChars}}
    </div>
  </div>
</template>

<script>
import EasyMDE from 'easymde'
import marked from 'marked'
import {getBase64} from '@/plugins/helpers.js'


export default {
  name: 'VueEasyMde',
  props: {
    pos: Object,
    value: String,
    name: String,
    previewClass: String,
    autoinit: {
      type: Boolean,
      default() {
        return true;
      },
    },
    highlight: {
      type: Boolean,
      default() {
        return false;
      },
    },
    sanitize: {
      type: Boolean,
      default() {
        return false;
      },
    },
    configs: {
      type: Object,
      default() {
        return {
        };
      },
    },
    previewRender: {
      type: Function,
    },
  },
  data() {
    return {
      lng: "",
      isValueUpdateFromInner: false,
    };
  },
  created (){
    this.lng = this.$i18n.t('img_upl_easymde')
  },
  mounted() {    
    if (this.autoinit) this.initialize(); 
  },
  deactivated() {
    const editor = this.easymde;
    if (!editor) return;
    const isFullScreen = editor.codemirror.getOption('fullScreen');
    if (isFullScreen) editor.toggleFullScreen();
  },


  methods: {
    initialize() {
      const configs = Object.assign({
        element: this.$el.firstElementChild,
        initialValue: this.value,
        previewRender: this.previewRender,
        renderingConfig: {},
        sideBySideFullscreen: false,
        breaks: true,
        gfw: true,
        //image upload config section
        //uploadImage: true,
        //imageUploadEndpoint: process.env.VUE_APP_BACKEND + '/upldImg',
        //imageMaxSize: process.env.VUE_APP_IMG_MAX_SIZE_MB,
       
        imageUploadFunction: (file,onSuccess,onError) => {
          let noteid = this.$store.getters['notes/getCurrentNoteId']
          //console.log("file")         
          //console.log(file)         
          getBase64(file)
            .then(imgBase64 => {
              let imgObj = {
                "name": file.name,
                "type": file.type,
                "size": file.size,
                "noteId": noteid,
                "bdata": imgBase64
              }
              //console.log("imageObject")
              //console.log(imgObj)
              this.$store.dispatch('images/uploadImg', imgObj)
                .then(()=>{
                  let img = this.getImage 
                  //console.log("retrieved img in easymde")
                  //console.log(img)
                  //console.log("retrieving image from store after uploading")
                  //console.log(img.filePath)
                  //console.log("retrieved image data from easymde: "+img)
                  if(img.filePath)
                    onSuccess(img.filePath)
                  else
                    onError(this.lng.importError)  
                })    
            })
        },
        //message text in the loaded language
        errorMessages: {
          noFileGiven: this.lng.noFileGiven,
          typeNotAllowed: this.lng.typeNotAllowed,
          fileTooLarge: this.lng.fileTooLarge,
          importError: this.lng.importError
        },
        imageTexts: {
          sbInit: this.lng.sbInit,
          sbOnDragEnter: this.lng.sbOnDragEnter,
          sbOnDrop: this.lng.sbOnDrop,
          sbProgress: this.lng.sbProgress,
          sbOnUploaded: this.lng.sbOnUploaded,
          sizeUnits: this.lng.sizeUnits,
        },
        previewImagesInEditor: false,
        
        // toolbar
        toolbar: [
          'bold','italic','strikethrough','|',
          'heading','quote',
          {
            name: "TOC",
            action: (editor) => {
              this.setHeaders(editor)
            },
            className: "fa fa-tree",
            title: "TOC",
          }, '|',
          'unordered-list','ordered-list','table','horizontal-rule',
          {
            name: "PageBreak",
            action: (editor) => {
              let cm = editor.codemirror;
              //marker for page break in the exported 
              let text = '<br><br><br><br>'
              cm.replaceRange(text, cm.getCursor(true), cm.getCursor(true))
            },
            className: "fa fa-stop-circle-o",
            title: "PageBreak"
          },
          'upload-image','|',
          'undo','redo','|',
          'preview','fullscreen','side-by-side','|',
          {
            name: 'MD',
            action: () => {
              this.exportMarkdown()
            },
            className: "fa fa-file-code-o",
            title: "Export to MD file"
          },
          {
            name: 'ePub',
            action: () => {
              this.exportEPub()
            },
            className: "fa fa-book",
            title: "Export to ePub file"
          },{
            name: 'PDF',
            action: () => {
              this.exportPDF()
            },
            className: "fa fa-file-pdf-o",
            title: "Export to PDF file"
          }, "|"
        ]
      }, this.configs);
      // Synchronize the values of value and initialValue
      if (configs.initialValue) {
        this.$emit('input', configs.initialValue);
      }
      // Determine whether to enable code highlighting
      if (this.highlight) {
        configs.renderingConfig.codeSyntaxHighlighting = true;
      }
      // Set whether to render the input html
      marked.setOptions({ sanitize: this.sanitize });
      // Instantiated editor
      this.easymde = new EasyMDE(configs);
      //  Add a custom previewClass
      const className = this.previewClass || '';
      this.addPreviewClass(className);
      // Binding event
      this.bindingEvents();
      this.$nextTick(() => {
        this.$emit('initialized', this.easymde);
      });
    },
    bindingEvents() {
      this.easymde.codemirror.on('change', (instance, changeObj) => {
        if (changeObj.origin === 'setValue') {
          return;
        }
        const val = this.easymde.value();
        this.handleInput(val);
      });
      this.easymde.codemirror.on('blur', () => {
        const val = this.easymde.value();
        this.handleBlur(val);
      });

    },
    addPreviewClass(className) {
      const wrapper = this.easymde.codemirror.getWrapperElement();
      const preview = document.createElement('div');
      wrapper.nextSibling.className += ` ${className}`;
      preview.className = `editor-preview ${className}`;
      wrapper.appendChild(preview);
    },

    handleInput(val) {
      this.isValueUpdateFromInner = true;
      this.$emit('input', val);
    },
    handleBlur(val) {
      this.isValueUpdateFromInner = true;
      this.$emit('blur', val);
    },


    /**** New defined methods ****/

    //set the headers keeping references from the text
    setHeaders(editor){
      //get the markdown content and extract the heading tokens
      let element=''
      if(editor)
        element = editor.element
      else
        element = this.$el.firstElementChild
      //let element = editor.element
      const tokens = marked.lexer(element.value)
      var lines = element.value.split('\n');
      let hdrs = tokens.filter(tkn => tkn.type === "heading")    
      let hdr_lines = [] //contains the lines for the found heading to optimize scrolling lines
      //for each token get the position and the parent
      for(let j=0;j<hdrs.length;j++){
        //set an id
        hdrs[j].id=j+1
        //add a parent basing on the sequence and the depth
        if(hdrs[j].depth==1){
          hdrs[j].parent=null
        }
        else{
          for(let n=j-1;n>=0;n--){
            if(hdrs[n].depth==hdrs[j].depth-1){
              //console.log("il parent di "+hdrs[j].text +" è " + hdrs[n].text)
              hdrs[j].parent=hdrs[n].id
              n=0 //exit
            }
          }
        }

        //add the position matching with the lines
        let found = false
        let i=0
        //compare each text line to the header, once found save the position
        while(!found){
          if(hdr_lines.length>0){
            i = hdr_lines.pop()+1
          }
          
          //once found the line (only first occurrence), save the position and exclude for the next header
          if(lines[i]==hdrs[j].raw.replace(/(\r\n\t|\n|\r\t)/gm,"")){
            //add the position to the header object
            hdrs[j].pos={line:i,ch:0}
            //exclude for the next header
            hdr_lines.push(i)
            //pass to the next header
            found=true
          }
          else{
            //check the next line
            i=i+1
          }
        }
      }
      this.$emit('headers',hdrs)  
    },
    
    //returns the number of items matching or 0
    countMatches(val,mtch,symbol){
      let occurences=0
      let result = val.match(mtch)
      //console.log(result)
      if(!result){
        return occurences
      }
      else {
        let res = result.toString()
         let found = res.indexOf(symbol);
        while (found !== -1) {
          occurences++;
          found = res.indexOf(symbol, found + 1);
        }
        //console.log("how many "+symbol+": "+occurences)
        return occurences
      }
    },

    
    //move the cursor to the pos value every time it changes
    goTo(val){
      this.easymde.codemirror.setCursor(val)
      //this.easymde.setOptions()
    },

    //exporting functions
    exportMarkdown(){
      let txt = this.easymde.value()
      //console.log(txt)
      this.$emit('export',{type:"MD",text:txt})  
    },
    exportEPub(){
      let txt = this.easymde.markdown(this.easymde.value())
      //console.log(txt)
      this.$emit('export',{type:"ePub",text:txt})  
    },
    exportPDF(){
      let txt = this.easymde.markdown(this.easymde.value())
      //console.log(txt)
      this.$emit('export',{type:"PDF",text:txt})
    },



  },
  destroyed() {
    this.easymde = null;
  },
  watch: {
    value(val) {
       if (this.isValueUpdateFromInner) {
        this.isValueUpdateFromInner = false;
      } else {
        this.easymde.value(val)
      }
    },
    //watch how the pos has changed in Note and brings the cursor there
    pos(){     
      //console.log(this.pos)
      this.goTo(this.pos)
    }
  },
  computed: {
    getImage(){
      return this.$store.getters['images/getImage']
    },

    //returns the number of characters and standard pages excluding formatting charachters
    //Doesn't work for tables... yet
    countChars(){
      let stars = (/(\n| |^|\w)(\*+[a-zA-Z0-9_.-]+\*+)/g)
      stars = this.countMatches(this.value,stars,'*')
      let dbltilde = (/(\n| |^|\w)(~~[a-zA-Z0-9_.-]+~~)/g)
      dbltilde = this.countMatches(this.value,dbltilde,'~')
      let headers = (/(\n|^)(#+ )/g)
      headers = this.countMatches(this.value,headers,'#')
      let br = (/(<br>+)/g)
      br = this.countMatches(this.value,br,'<br>')*4
      let qt = (/(\n)(> )/g) 
      qt = this.countMatches(this.value,qt,'> ')*2
  
      let to_remove = 0 + stars + headers + dbltilde + br +qt

      let txt_length = this.value.length
      //console.log("qt to remove: "+to_remove)
      //console.log("total amount of chars: "+txt_length)
      
      let cnt_string = this.lng.chars+(txt_length - to_remove) + " - " +
                   this.lng.standardPage+(((txt_length - to_remove)/1800).toFixed(1))
      return cnt_string
    },
  }
  
}
</script>

<style scoped>
  /*@import './../assets/css/mdeditor.css';
  @import "~highlight.js/styles/atom-one-dark.css";
  @import "~easymde/dist/easymde.min.css";*/

  /*
  .vue-easymde .markdown-body{
    padding: 0.5em;
  }
  .vue-easymde .editor-preview-active, .vue-easymde .editor-preview-active-side {
    display: block;
   
  } */
  .counters{
    text-align: center;
    font-size: 0.9em;
    color: cadetblue;
  }
  
  


</style>