<template>
  <v-app>
    <CmdBar/>
    <NotificationContainer />
    <router-view class="page"/> 
  </v-app>
</template>

<script>
import CmdBar from '@/components/CmdBar.vue'
import NotificationContainer from '@/components/NotificationContainer.vue'

export default {
  name: 'App',

  components: {
    CmdBar,
    NotificationContainer
  },

  data: () => ({
    //
  }),
};
</script>
